@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Medium.ttf)
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-SemiBold.ttf);
  font-weight: bold;
}
body {
  margin: 0 auto auto;
  width: 360px;
  height: 100%;
  /*min-height: 800px;*/
  background-color: #FFFFFF;
  color: #25282E;
}

body * {
  font-family: 'Inter', serif;
  font-weight: 500;
}